


<div class="container mt-2">
  <img class="img-fit"
  src="https://lcdn.altex.ro/render/static/altex/images/homepage-brand-banners/altex-travel.png" alt="">
</div>

<div class="container">
  <div class="row">
    <div class="col-12 col-md-6 mt-2">
      <img class="img-fit"
    src="https://lcdn.altex.ro/render/static/altex/images/homepage-brand-banners/altex-travel.png" alt="">
    </div>
    <div class="col-12 col-md-6 mt-2">
      <img class="img-fit"
    src="https://lcdn.altex.ro/render/static/altex/images/homepage-brand-banners/altex-travel.png" alt="">
    </div>
  </div>
</div>
